<p id="notice"><%= notice %></p>

<div class="heading-div">
  <h1 id= "plant-title">Plant Database</h1>
  <%= link_to "<button>Add a Plant</button>".html_safe , new_plant_path, class: "new-plant-link" %>
</div>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Name</th>
      <th>Scientific Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @plants.each do |plant| %>
      <tr>
        <td id="plant-image-column"><%= plant.img_url ? image_tag(plant.img_url, width: 150) : "" %></td>
        <td><%= plant.common_name %></td>
        <td id= "plant-sc-name-column"><%= plant.sc_name %></td>
        <td class= "table-center"><%= link_to 'Details', plant %></td>
        <%# <td><%= link_to 'Edit', edit_plant_path(plant) %>
        <%# <td><%= link_to 'Destroy', plant, method: :delete, data: { confirm: 'Are you sure?' }</%#> %>
      </tr>
    <% end %>
  </tbody>
</table>


