<p id="notice"><%= notice %></p>

<div id= show-content>
  <div id= "plant-show-heading">
    <div id= "plant-heading-titles">
      <h1><%= @plant.common_name %></h1>
      <i><%= @plant.sc_name %></i>
    </div>
    <div id="plant-heading-links">
      <%= link_to "<button>Add Plant to List</button>".html_safe, addplant_path(@plant) %>
      <%= link_to "<button>Edit</button>".html_safe, edit_plant_path(@plant) %>
    </div>
  </div>

  <div id= "plant-details-div">
    <div id= "plant-show-img-div">
      <%= @plant.img_url ? image_tag(@plant.img_url) : "" %>
    </div>
    <p id= "info-div">
      <%= @plant.info %>
    </p>
  </div>
</div>