<!DOCTYPE html>
<html>
  <head>
    <title>Plantabase</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav>
        <ul id= "link-nav">
          <li id= "web-title">Plantabase</li>
          <li><%= link_to 'Home', root_path %></li>
          <li><%= link_to "List Index", lists_path %></li>
          <li><%= link_to 'Plant Index', plants_path %></li>
        </ul>
        <ul id= "login-nav">
        <% if current_user %>
          <li><%= link_to 'My Lists', lists_userlists_path %></li>
          <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
        </ul>
      </nav>
    </header>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p id= "copyright">&copy; Amber Emeny 2019</p>
    </footer>
  </body>
</html>
